.gallery-main{
    height: 250px;
    width: 450px;
    border-radius: 8px;
}

.gallery-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-display{
    display: flex;
    align-items: center;
}

.main-photo-info{
    word-wrap: break-word;
    width: 500px;
}

button{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(201, 208, 228);
    margin: 100px;
}

.gallery-thumb{
    height: 150px;
    width: 150px;
    border-radius: 6px;
}

.photo-list{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.photo-list li {
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.selected {
    border: 3px solid royalblue
}