.gallery-main{
    height: 250px;
    width: 450px;
    border-radius: 10px;
}

.gallery-section{
    display: flex;
    justify-content: center;
}
.main-display{
    display: flex;
    align-items: center;
}

button{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(201, 208, 228);
    margin: 100px;
}