.welcome-title{
    font-size: 24px;
    color: #21282e;
}

ul{
    list-style-type: none;
}

.album-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}

.album-list p{
    color: rgb(90, 86, 86);
}

.album-list li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
    margin-left: 15%;
}

.album-list img{
    height: 200px;
    width: 450px;
    border-radius: 7px;
    margin-right: 50px;
}

.album-list button{
    margin-top: 75px;
    padding: 10px 20px 10px 20px;
}


.album-item-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-div{
    margin-top: 50%;
    height: 400px;
    width: 300px;
    background-color: lightgoldenrodyellow;
    overflow: auto;
}

.homepage-div{
    display: flex;
}